// 页面切换动画 - 滑动切换
.page-fade {
  &-outLeft {
    &-leave-active, &-enter-active {
      transition: all .28s linear;
    }
    &-enter {
      opacity: 0;
      transform: translateX(-30px);
    }
    &-leave-to {
      opacity: 0;
      transform: translateX(30px);
    }
  }
}