$clr-theme-1                                    :#fcffe6;
$clr-theme-2                                    :#f4ffb8;
$clr-theme-3                                    :#eaff8f;
$clr-theme-4                                    :#d3f261;
$clr-theme-5                                    :#a0d911;
$clr-theme-6                                    :#fcffe6;
$clr-theme-7                                    :#7cb305;