$clr-theme-1                                    :#fffbe6;
$clr-theme-2                                    :#fff1b8;
$clr-theme-3                                    :#ffe58f;
$clr-theme-4                                    :#ffd666;
$clr-theme-5                                    :#ffc53d;
$clr-theme-6                                    :#faad14;
$clr-theme-7                                    :#d48806;
$clr-theme-8                                    :#ad6800;
$clr-theme-9                                    :#874d00;
$clr-theme-10                                   :#613400;

$clr-blue                                       :#2d8cf0;
$clr-white                                      :#ffffff;
$clr-org                                        :#FC9806;
$clr-red                                        :#FF5A55;
$clr-green                                      :#64d572;

$clr-border                                     :#e6e6e6;
$clr-text                                       :#303133;