// $clr-theme-1                                    :#fffbe6;
// $clr-theme-2                                    :#fff1b8;
// $clr-theme-3                                    :#ffe58f;
// $clr-theme-4                                    :#ffd666;
// $clr-theme-5                                    :#ffc53d;
// $clr-theme-6                                    :#faad14;
// $clr-theme-7                                    :#d48806;
// $clr-theme-8                                    :#ad6800;
// $clr-theme-9                                    :#874d00;
// $clr-theme-10                                   :#613400;

$clr-theme-1                                    :#e6fffb;
$clr-theme-2                                    :#b5f5ec;
$clr-theme-3                                    :#87e8de;
$clr-theme-4                                    :#5cdbd3;
$clr-theme-5                                    :#36cfc9;
$clr-theme-6                                    :#13c2c2;
$clr-theme-7                                    :#08979c;
$clr-theme-8                                    :#006d75;
$clr-theme-9                                    :#00474f;
$clr-theme-10                                   :#002329;

// $clr-theme-1                                    :#fff2e8;
// $clr-theme-2                                    :#ffd8bf;
// $clr-theme-3                                    :#ffbb96;
// $clr-theme-4                                    :#ff9c6e;
// $clr-theme-5                                    :#ff7a45;
// $clr-theme-6                                    :#fa541c;
// $clr-theme-7                                    :#d4380d;
// $clr-theme-8                                    :#ad2102;
// $clr-theme-9                                    :#871400;
// $clr-theme-10                                   :#610b00;

$clr-blue                                       :#2d8cf0;
$clr-white                                      :#ffffff;
$clr-black                                      :#333333;
$clr-org                                        :#FC9806;
$clr-red                                        :#FF5A55;
$clr-green                                      :#64d572;
$clr-gray                                       :#f9f9f9;

$clr-border                                     :#e6e6e6;
$clr-text                                       :#303133;